/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}


/**/
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^=col-] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(77, 11, 176, 0.576);
  border: 1px solid rgba(7, 5, 10, 0.703);
} 
/**/

hr {
  margin: 20px 0 20px 0;
}

.page-header {
  background: black;
  color: white;
}

.page-content {
  background: #F0E0FF;
}

.page-footer {
  background: #92DCE5;
}